*{margin: 0;padding: 0;list-style: none}
/*.w1300{width: 1200px;margin: auto}*/
.w1300{width: 65%;margin: auto}
/*.w1180{width: 1180px;margin: auto}*/
.w1180{width: 60%;margin: auto}

/*头部*/
.header{}

.header-nav{height: 60px;
    width: 100%;background: rgba(0, 0, 0, 0.3);line-height: 60px;position: fixed;z-index: 2}
.headerScroll-nav{
    background: white;
}
.navCon{display: flex;justify-content: space-between;margin: auto}
.navCon-logo{width:130px;padding-top: 7px}
.navCon-logo img{width: 100%;}
.navCon-list{color: #ffffff;}
.list-item{display: inline-block;margin-right: 30px}
.item{display: inline-block;padding: 0 10px;cursor: pointer}
.navCon-btn{display: inline-block;width: 114px;
    height: 34px;line-height: 34px;text-align: center;border-radius: 4px;cursor: pointer}


.header-con{width: 100%;height: 700px;
    background: url("../../assets/img/headerbg.png")no-repeat center 0/cover;
}
.header-font{width: 42%;margin: auto;padding-top: 168px}
.header-font img{width: 100%;}
.header-con p{
    font-size: 36px;font-weight: bold;color: white;text-align: center;padding-top: 88px;
}



/*footer*/
.footer{}
.footer-first{background:rgba(244,244,244,1);height: 80px}
.footerFirst-con{display: flex;justify-content: space-between}
.footerFirst-left{font-size: 0;position: relative}
.footerFirst-img{width: 40px;display: inline-block;position: absolute;
    top: 16px;}
.footerFirst-img img{width: 100%;}
.footerFirst-left span{font-size: 24px;color: #333333;font-weight: 500;line-height: 80px;margin-left: 45px}
.footerFirst-right{
    cursor: pointer;
    color: white;
    vertical-align: middle;
    width:180px;
    height:47px;
    line-height: 47px;
    text-align: center;
    background:rgba(190,158,101,1);
    border-radius: 4px;
    margin-top: 16px;
}
.footer-second{background:rgba(51,51,51,1);}
.footerSecond-con{display: flex;justify-content: space-between;padding-top: 80px;padding-bottom: 20px}
.footerSecond-left{width: 180px}
.footerSecond-left img{width: 100%}
.footerSecond-right{display: flex;justify-content: space-between;width: 70%}
.footerSecond-item{width: 16%}
.item-title{color: white;font-size: 14px}
.item-con{padding-top: 15px;color: #CCCCCC;font-size: 11px;line-height:18px}
.item-code{
    display: inline-block;padding: 0 10px;width: 65px}
.item-code img{
    width: 100%;}
.footer-tip{font-size:10px;font-weight:200;line-height:14px;color:rgba(255,255,255,.4);}
.footer-copyright{text-align: center;color: #707070;font-size: 12px;padding:10px 0 15px 0}
